<html>
<body>
<form action = "create-post" method = "post">
    <input type = "text" placeholder = "Write post" name = "text" />
    <button type = "submit">Create Post</button>
</form>
<form action = "delete-post" method = "post">
    <input type = "number" placeholder= "Post #" name = "postid"/>
    <button type = "submit">Delete</button>
</form>
<form action = "edit-post" method = "post">
    <input type = "number" placeholder= "Post #" name = "postid"/>
    <input type = "text" placeholder = "Edit Text" name = "editpost"/>
    <button type = "submit">Submit</button>
</form>
Posts by {{name}}:<br>
{{#post}}
{{id}}. {{text}}<br>
{{/post}}
</body>
</html>